---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Minimal Blog Card">
  <main>
    <Card
      title="Embracing Minimalism"
      description="From minimalist sculptures to minimalist paintings, this blog will inspire you to appreciate the beauty that lies in simplicity."
      author="Annie Spratt"
      img="https://minimal-blog-card-ten.vercel.app/assets/cactus_img.jpg"
      imgAlt="Cactus"
      tags={["Design"]}
    />
  </main>
</Layout>

<style>
  main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		background-color: #f9f9f8;
  }
</style>
